<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/user/layout/index :: dynamic(~{::main})}">
<body>
    <main class="row" style="margin-top: 100px">
        <div th:each="p:${items}" class="col-sm-4">

            <div class="card" style="width: 18rem;">
                <a th:href="@{|/product/detail/${p.id}|}">
                    <img th:src="@{|/assets/images/${p.images}|}" class="card-img-top" >

                </a>
                <div class="card-body">
                    <b class="pull-left" style="margin-top:5px">$[[${p.price}]]</b>
                    <p th:replace="~{/user/product/_actions::item_id(${p.id})}" />
                </div>
            </div>


        </div>
    </main>
</body>
</html>



