<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/user/layout/index :: dynamic(~{::main})}">
<body>
<main class="row">
    Checkout
    <!--    <div th:each="p:${items}" class="col-sm-3">-->

    <!--        <div class="card" style="width: 18rem;">-->
    <!--            <a th:href="@{|../product/detail/${p.id}|}">-->
    <!--                <img th:src="@{|/assets/images/${p.images}|}" class="card-img-top" >-->

    <!--            </a>-->
    <!--            <div class="card-body">-->
    <!--                <h5 class="card-title">Card title</h5>-->
    <!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--            </div>-->
    <!--        </div>-->


    <!--    </div>-->
</main>
</body>
</html>
