<div xmlns:th="http://www.thymeleaf.org">
    <div >
        <div >
            <h5 class="list-group-item list-group-item-warning" style="color: black; font-size: large;">Category dayyy!!!!</h5>

        </div>
        <div class="list-group" >
            <th:block th:each="c:${cates}">
                <a th:href="@{|/product/list?cid=${c.id}|}"  class="list-group-item">



                    <span style="color: green;" th:text="${c.name_category}">

                    </span>
                </a>
            </th:block>
        </div>
    </div>
</div>




