<div xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style="background:linear-gradient(to bottom, #1D6A96 0%, #85B8CB 70%);">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/user/product/list}">KeyZONE</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/user/product/list}">Product</a></li>
                <li class="nav-item"><a class="nav-link"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                                        aria-label="Toggle navigation">
                    Types keyboards</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Brand name</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Acount</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/user/security/login/form}">Sign In</a></li>

                <li class="nav-item"><a class="nav-link" th:href="@{/user/security/logoff}">Sign Out</a></li>

            </ul>
        </div>
        <a style="text-decoration: none" th:href="@{/user/cart/view}">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="25" height="25" style="color: rgba(80,102,125,0.82); margin-left:5px " fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
            <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
        </svg>
                <span class="badge text-bg-secondary">{{cart.count}}</span></a>
    </div>
</nav>
</div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <th:block th:each="c:${cates}">
                    <a th:href="@{|/user/product/list?cid=${c.id}|}"  class="list-group-item">
                        <span th:text="${c.name}"></span>
                    </a>
                </th:block>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me?</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



